<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@Url.Content("~/imgs/favicons/notes.ico")" type="image/ico" />
    <title>@ViewBag.Title - Virtual Piano</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/customCss")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Virtual Piano", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Music Sheets<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("All Music Sheets", "All", "Sheets", new { Area = "MusicSheets" }, null)</li>
                            <li>@Html.ActionLink("All Artists", "All", "Artists", new { Area = "MusicSheets" }, null)</li>
                            <li>@Html.ActionLink("All Categories", "All", "Categories", new { Area = "MusicSheets" }, null)</li>
                            @if (Request.IsAuthenticated)
                            {
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Upload Sheet", "Upload", "Sheets", new { Area = "MusicSheets" }, null)</li>
                            }
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="row">
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Telerik Academy - ASP.MVC - Virtual Piano Project</p>
        </footer>
    </div>
    @*<div class="container modal-footer">
        @Html.Partial("_PageFooter")
    </div>*@

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

