@using VirtualPiano.Web.Areas.MusicSheets.ViewModels
@model MusicSheetDetailsViewModel
@{
    ViewBag.Title = "Music Sheet Details";
}

<div class="page-header">
    <h3>Music Sheet <small>DETAILS</small></h3>
</div>

@*<div class="row">
        <h1 class="h1">@Model.Title <small>@Model.ArtistName</small></h1>
    </div>
    <div class="row">
        <h3 class="h3"><small>Category: </small>@Model.CategoryName</h3>
    </div>
    <div class="row">
        <p class="col-md-7">
            @foreach (var line in @Model.Notes)
            {
                @line<br />
            }
        </p>
    </div>*@

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="h1">@Model.Title <small>@Model.ArtistName</small></h1>
    </div>
    <div class="panel-body">
        <div class="col-md-7">
            @foreach (var line in @Model.Notes)
            {
                @line<br />
            }
        </div>
        <div class="col-md-5">
            <img src="@Url.Content("~/imgs/notes.png")" alt="music notes" class="img-rounded" />
        </div>
    </div>
    <div class="panel-footer">
        <h3 class="h3"><small>Category: </small>@Model.CategoryName</h3>
    </div>
</div>
