@using VirtualPiano.Web.Areas.MusicSheets.ViewModels
@model MusicSheetDetailsViewModel
@{
    ViewBag.Title = "Music Sheet Details";
}

<div class="page-header">
    <h3>Music Sheet <small>DETAILS</small></h3>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="h2">@Model.Title <small><a href="">@Model.ArtistName</a></small></h2>
    </div>
    <div class="panel-body">
        <div class="col-md-7">
            @foreach (var line in @Model.Notes)
            {
                @line<br />
            }
            <br />
            <br />
            <a href="#" class="btn btn-sm btn-default">Click to play...</a>
        </div>
        <div class="col-md-5">
            <img src="@Url.Content("~/imgs/notes.png")" alt="music notes" class="img-rounded" />
        </div>
    </div>
    <div class="panel-footer">
        <h4 class="h4"><small>CATEGORY: </small><a href="">@Model.CategoryName</a></h4>
    </div>
</div>
