@using VirtualPiano.Web.Areas.MusicSheets.InputModels;
@model InputMusicSheetViewModel
@{
    ViewBag.Title = "Upload music sheet";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

<div class="col-md-8">
    @using (Html.BeginForm("Upload", "Sheets", FormMethod.Post, new { @class = "form-horizontal", encType = "multipart/form-data", name = "upload-form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })
        
        if (ViewData["categoryError"] != null)
        {
            <span class="text-danger">@ViewData["categoryError"]</span>
            <br/>
        }

        @Html.EditorForModel("InputMusicSheetViewModel");

        <div class="form-group text-center">
            <input type="submit" value="Upload music sheet" class="btn btn-primary btn-md" />
        </div>
    }
</div>
<div class="col-md-4">
    <div class="img-container">
        <img class="img img-responsive" alt="notes from up close" src=@Url.Content("~/imgs/music-notes-up-close.jpg") />
    </div>
</div>

